<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="box" id="heading">
        <h1>
            <%= kindofday %>
        </h1>
    </div>

    <div class="box">
        <% items.forEach((item)=> { %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= item %>
                </p>
            </div>
            <% }) %>


                <form class="item" action="/" method="post">
                    <input type="text" name="newitem" autocomplete="off" placeholder="new items">
                    <button type="submit">+</button>
                </form>

    </div>
</body>

</html>